bin/*
obj/*
/.vs/EMR
/src/EMR.Application/obj
/src/EMR.Application/bin/Debug/netcoreapp3.1
/src/EMR.Application.Caching/obj
/src/EMR.Application.Caching/bin/Debug/netcoreapp3.1
/src/EMR.Application.Contracts/obj
/src/EMR.Application.Contracts/bin/Debug/netcoreapp3.1
/src/EMR.Domain/obj
/src/EMR.Domain/bin/Debug/netcoreapp3.1
/src/EMR.Domain.Shared/obj
/src/EMR.Domain.Shared/bin/Debug/netcoreapp3.1
/src/EMR.EntityFrameworkCore/obj
/src/EMR.EntityFrameworkCore/bin/Debug/netcoreapp3.1
/src/EMR.EntityFrameworkCore.DbMigrations/obj
/src/EMR.EntityFrameworkCore.DbMigrations/bin/Debug/netcoreapp3.1
/src/EMR.HttpApi/obj
/src/EMR.HttpApi/bin/Debug/netcoreapp3.1
/src/EMR.HttpApi.Hosting/obj
/src/EMR.HttpApi.Hosting/bin/Debug/netcoreapp3.1
/src/EMR.Swagger/obj
/src/EMR.Swagger/bin/Debug/netcoreapp3.1
/src/EMR.ToolKits/obj
/src/EMR.ToolKits/bin/Debug/netcoreapp3.1
/src/EMR.HttpApi.Hosting/log4net
/src/EMR.Web/obj
/src/EMR.Web/bin/Debug/netcoreapp3.1
/src/EMR.Domain.Shared/bin/Release/netcoreapp3.1
/src/EMR.Domain/bin/Release/netcoreapp3.1
/src/EMR.Application.Contracts/bin/Release/netcoreapp3.1
/src/EMR.Application/bin/Release/netcoreapp3.1
/src/EMR.EntityFrameworkCore.DbMigrations/bin/Release/netcoreapp3.1
/src/EMR.EntityFrameworkCore/bin/Release/netcoreapp3.1
/src/EMR.HttpApi/bin/Release/netcoreapp3.1
/src/EMR.HttpApi.Hosting/Properties/PublishProfiles
/src/EMR.HttpApi.Hosting/bin/Release/netcoreapp3.1
/src/EMR.Swagger/bin/Release/netcoreapp3.1
/src/EMR.ToolKits/bin/Release/netcoreapp3.1
