<header style="height:80px">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header header-logo">
                <img src="~/img/logo.jpg" style="height:64px" />
            </div>
            <div class="menu navbar-right">
                <a class="menu-item" href="/wow/index">点赞排行榜</a>
                <a class="menu-item" href="/team/expend">团队成员消费排行榜</a>
                <a class="menu-item" href="/team/salesquota">团队营收排行榜</a>
                <a class="menu-item" href="/business/index">店家收款</a>
                <a class="menu-item" href="/business/generateqrcode">店家收款二维码</a>
                <a class="menu-item" href="/business/custom">客户线上付款</a>
                <a class="menu-item" href="/excharge/index">个人充值记录</a>
                <a class="menu-item" href="/expend/index">个人消费记录</a>
                <a class="menu-item leader" href="/myteam/index">团队分账</a>
                <a class="menu-item org" href="/team/giveout">发改委金钱奖励</a>
            </div>
        </div>
    </nav>
    <nav class="navbar-mobile" id="nav-mobile">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <img src="~/img/logo.jpg" style="height:64px" />
                </div>
                <div class="menu-toggle" onclick="mobileBtn()">&#9776; 菜单</div>
            </div>
            <div class="menu" id="mobile-menu">
                <a class="menu-item" href="/wow/index">点赞排行榜</a>
                <a class="menu-item" href="/team/expend">团队成员消费排行榜</a>
                <a class="menu-item" href="/team/salesquota">团队营收排行榜</a>
                <a class="menu-item" href="/business/index">店家收款</a>
                <a class="menu-item" href="/business/generateqrcode">店家收款二维码</a>
                <a class="menu-item" href="/business/custom">客户线上付款</a>
                <a class="menu-item" href="/excharge/index">个人充值记录</a>
                <a class="menu-item" href="/expend/index">个人消费记录</a>
                <a class="menu-item leader" style="display:none" href="/myteam/index">团队分账</a>
                <a class="menu-item org" style="display:none" href="/team/giveout">发改委金钱奖励</a>
            </div>
        </div>
    </nav>
</header>

<script>
    var userid = $.cookie("userid");
    var teamid = $.cookie("teamid");
    var account = $.cookie("account");
    function mobileBtn() {
        var toggleMenu = document.getElementsByClassName("menu-toggle")[0];
        var mobileMenu = document.getElementById("mobile-menu");
        if (toggleMenu.classList.contains("active")) {
            toggleMenu.classList.remove("active")
            mobileMenu.classList.remove("active")
        } else {
            toggleMenu.classList.add("active")
            mobileMenu.classList.add("active")
        }
    }

    $(function () {
        if (userid == "") {
            location.href = "/Acount/Index";
        }
        axios.get(api_domain + '/TeamBuilding/user/info?account=' + account).then(function (response) {
            if (response.data.success) {


                if (response.data.result.isLeader) {
                    $(".leader").show();
                } else {
                    $(".leader").hide();
                }
                if (response.data.result.teamInfo.teamName == "发改委") {
                    $(".org").show();
                } else {
                    $(".org").hide();
                }
            }

        });

    })

</script>