
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NoMenuLayout.cshtml";
}
<div style="height:100%;min-height: 100vh;text-align: center;">
<input id="account" name="account" />
<button value="Go"></button>
</div>
