
@{
    ViewData["Title"] = "Custom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight" style="padding: 5% 20px 20px 20px;color:white">
    <div class="row">
        <div class="col">
            <div class="ibox float-e-margins">

                <div class="form-group row" style="        color: white;
        font-size: 12px;">
                    <label for="" class="col-6 col-form-label" id="username" style="text-align: center;"></label>
                    <div class="col-6">
                        ￥<label class="col-form-label" id="shengyu" />
                    </div>

                </div>


                <div class="ibox-content" style="font-size: x-large;">
                    <form>
                        <div class="videoDiv" style="display:none;width: 100%;">
                            <video id="video-js-player" controls autoplay preload="auto" style="width: 100%;">
                                <source src="https://www.drostatic.com/mobile/video/18931.mp4" type="video/mp4">
                            </video>

                        </div>

                        <label for="name">选择消费的店</label>

                        <div class="teams">

                            <script id="teams_tmpl" type="text/template">
                                {{each result}}

                                <div class="radio">
                                    <label><input type="radio" value="{{$value.id}}" name="team"  />{{$value.teamName}}</label>
                                </div>
                                {{/each}}
                            </script>
                        </div>




                        <div class="form-group row">
                            <label for="amount" class="col-3 col-form-label">金额</label>
                            <div class="col-9">
                                <input type="number" class="form-control" style="font-size: x-large;" id="amount">
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-2">
                                <input type="button" class="btn btn-sm btn-primary" id="btnMoney" value="付款"></input>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinnerdiv justify-content-center" style="top: 40%;
    position: absolute;
    left: 45%;display:none">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<script>
    var userid = $.cookie("userid");
    var teamid = $.cookie("teamid");
    var account = $.cookie("account");
    var yyyy = 0;
    $(function () {
        if (userid == "") {
            location.href = "/Acount/Index";
        }

        //* add by Lynn for 8th group birthday Surprise 
        $('video').on('ended', function () {
            $(this).hide();
            $(".videoDiv").hide();
        });


        axios.get(api_domain + '/TeamBuilding/user/info?account=' + account).then(function (response) {
            if (response.data.success) {
                var total = 0;
                var huafei = 0;
                $.each(response.data.result.personalRecharges, function (index, item) {
                    total = total + item.amount;

                });
                $.each(response.data.result.personalExpenditures, function (index, item) {
                    huafei = huafei + item.expend;

                });
                yyyy = total - huafei;
                $("#shengyu").html(yyyy);
                $("#username").html(response.data.result.userName);


            }
        })



        axios.get(api_domain + '/TeamBuilding/teams').then(function (response) {
            if (response.data.success) {
                var data = { "result": response.data.result.filter(p => p.isOrganiser == false) };
                var html = template("teams_tmpl", data);
                document.querySelector('.teams').innerHTML = html;



            }
        })

        $("#btnMoney").click(function () {


            var checkteamid = $("input[name='team']:checked").val();

            if (checkteamid == undefined) {

                swal({
                    title: "error",
                    text: "请选择团队",
                    type: "error"
                })
            }
            else if ($("#amount").val() == "") {

                swal({
                    title: "error",
                    text: "请输入金额",
                    type: "error"
                })
            }

            else if (yyyy < $("#amount").val()) {

                swal({
                    title: "error",
                    text: "余额不足",
                    type: "error"
                })
            }

            else {
                $(".spinnerdiv").show();
                var data = {
                    "teamId": checkteamid,
                    "userid": userid,
                    "account": account,
                    "amount": parseFloat($("#amount").val())
                };

                axios.post(api_domain + "/TeamBuilding/custom/pay", data).then(function (response) {
                    if (response.data.success) {
                        swal({
                            title: "Done",
                            text: response.data.message,
                            type: "success"
                        }
                            , function () {
                                location.reload();
                            });
                    } else {

                        swal({
                            title: "error",
                            text: response.data.message,
                            type: "error"
                        })
                    }
                    $(".spinnerdiv").hide();
                });
                HappyBirthdayCheck();
            }

        });
    })


    function HappyBirthdayCheck() {

        var checkteamid = $("input[name='team']:checked").val();
        if (checkteamid != '39f71be7-edc0-131e-85c3-9ed3ff9b82dd') {
            return;
        }
        var births = ['369438'
            , '295481'
            , '367241'
            , '362348'
            , '295430'
            , '361845'
            , '359063'
            , '295936'
            , '303034'
            , '363099'
            , '367347'
            , '295627'
            , '295520'
            , '295574'
            , '295629'
            , '300886'
            , '346383'
            , '350846'
            , '295420'
            , '295484'
        ]
        var superBirth = '295545';
        if (account == superBirth) {

            swal({
                title: "Congratulations~",
                text: "亲爱的小伙伴，祝你生日快乐！你可以在本店免费带走一件30元以内的商品！",
                type: "success"
            })

            $(".videoDiv").show();
            $(".videoDiv").focus();
        } else {
            var idx = births.indexOf(account);
            if (idx != -1) {

                swal({
                    title: "Congratulations~",
                    text: "中奖啦！中奖啦！ 恭喜您中奖啦！请在收银台小框里的礼物请自取一份！(每人仅限一份)",
                    type: "success"
                })
          
            }
        }
    }

    function GetUserInfo(o) {
        var account = $(o).val();

        if (account != "") {

            axios.get(api_domain + '/TeamBuilding/user/info?account=' + account).then(function (response) {
                if (response.data.success) {
                    var total = 0;
                    var huafei = 0;
                    $.each(response.data.result.personalRecharges, function (index, item) {
                        total = total + item.amount;

                    });
                    $.each(response.data.result.personalExpenditures, function (index, item) {
                        huafei = huafei + item.expend;

                    });
                    yyyy = total - huafei;
                    $("#shengyu").html("￥" + yyyy);
                    $("#username").html(response.data.result.userName);

                    if (teamid == "") {

                        //TODO 首饰店 自动获取生日信息，隐藏销售信息 #TotalAmount
                        var births = ['369438'
                            , '295481'
                            , '367241'
                            , '362348'
                            , '295430'
                            , '361845'
                            , '359063'
                            , '295936'
                            , '303034'
                            , '363099'
                            , '367347'
                            , '295627'
                            , '295520'
                            , '295574'
                            , '295629'
                            , '300886'
                            , '346383'
                            , '350846'
                            , '295420'
                            , '295484'
                        ]
                        var superBirth = '295545';
                        if (account == superBirth) {

                            swal({
                                title: "Good~",
                                text: "亲爱的小伙伴，祝你生日快乐！你可以在本店免费带走一件30元以内的商品！",
                                type: "success"
                            })
                        } else {
                            var idx = births.indexOf(account);
                            if (idx != -1) {

                                swal({
                                    title: "Good~",
                                    text: "中奖啦！中奖啦！ 恭喜您中奖啦！收银台下小框里的礼物请自取一份！",
                                    type: "success"
                                })
                            }
                        }
                    }
                }
            })



        }

    }

</script>