
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .alert-warning  {
    
    border-radius: 20px;
}
</style>
<div class="expends" style=" margin: 10px 0px;">
    <script id="expends_tmpl" type="text/template">
        {{each result}}

     <div class="alert alert-warning " role="alert">
          <h4 class="alert-heading">￥{{$value.expend}}</h4>
          <hr>
          <p><span style="font-weight: bold">{{$value.expenditureName}}</span></p>
          <hr>
          <p>流水号:{{$value.serialNumber}}</p>
          <hr>
          <p class="mb-0">{{$value.createTime}}</p>
    </div>

        {{/each}}
    </script>

   

</div>
<div class="spinnerdiv justify-content-center" style="top: 40%;
    position: absolute;
    left: 45%;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
 <script>
     var userid=$.cookie("userid");
     var teamid=$.cookie("teamid");
     $(function(){
         if(userid==""){
              location.href = "/Acount/Index";
          }
         axios.get(api_domain+'/TeamBuilding/personalexpend/user?id='+userid).then(function (response) {
                if (response.data.success) {
                     var data = { "result": response.data.result };
                    var html = template("expends_tmpl", data);
                    document.querySelector('.expends').innerHTML = html;
                     $(".spinnerdiv").hide();
               }
           })
         


        })
    </script>